<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Driver Dashboard</title>
</head>
<body>
<h1>Driver Dashboard</h1>

<table>
    <thead>
    <tr>
        <th>Delivery ID</th>
        <th>Vehicle</th>
        <th>Delivery Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="delivery : ${readyToShipDeliveries}">
        <td th:text="${delivery.id}"></td>
        <td th:text="${delivery.assignedVehicle}"></td>
        <td th:text="${delivery.deliveryDate}"></td>
        <td>
            <a th:href="@{'/delivery/deliver-packages'(deliveryId=${delivery.id})}">Deliver</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
